body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px;
}

/* CONTAINER */

.content {
  max-width: 960px;
}

.expand-left-container {
  width: 100%;
  display: table-cell;
}

.expand-left-left {
  width: 100%;
}

.expand-left-right {
  display: table-cell;
  padding-left: 5px;
}

.config-controls {
  width: 70px;
}

.span-send {
  text-decoration: none;
  vertical-align: middle;
}

/* LAYOUT */

.margins {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.rd-border {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

/* GENERIC SKIN CLASSES */

.light-grey-bg {
  background-color: #f5f5f5;
  padding-right: 4px;
}

.medium-grey-bg {
  background-color: #ccc;
  padding-right: 4px;
}

.ctrl-img {
  background-color: #fff;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

/* SPECIFIC ELEMENT SKINNING */

.current-room {
  font-size: 18px;
  font-weight: bold;
}

.conv-log {
  height: 400px;
  overflow: auto;
  margin-bottom: 1em;
}

.message-time {
  padding-top: 5px;
  font-size: x-small;
}

.message-from {
  color: #F00;
}

.help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#sound {
  display: none;
}
